<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender,  log4stash">
      <Servers>
        <Server>
          <Address>localhost</Address>
          <Port>9200</Port>
        </Server>
      </Servers>
      <IndexName>log_test_v2</IndexName>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ElasticSearchAppender" />
    </root>
  </log4net>
</configuration>